@import '../../../../styles.scss';

.main {
  border: 3px solid rgb(47, 68, 255);
  padding: 0 36px;

  .main-container {
    display: flex;
    justify-content: space-between;
    gap: 31px;

    .container {
      width: 100%;
  
  
      .main-title {
        width: 786px;
        height: 54px;
        flex-shrink: 0;
        color: $orange;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 900;
        line-height: 25px;
        letter-spacing: 1px;
      }
  
      .beach-image-video {
        width: 100%;
        height: auto;
        flex-shrink: 0;
      }
    }

    .info {

      .buttons-container {
        display: flex;
        justify-content: end;
        gap: 5px;
        button {
          color: $white;
        }

        .download-button {
          color: $white;
          display: flex;
          gap: 5px;
          text-align: center;
          font-family: Roboto;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          height: 31px;
          padding: 6px 12px;
          gap: 5px;
          flex-shrink: 0;
          border-radius: 4px;
          border: 1px solid rgba(0, 0, 0, 0.00);
          background: $orange;
        }
  
        .favorite-button {
          width: 43px;
          height: 31px;
          padding: 6px 12px;
          border-radius: 4px;
          border: 1px solid rgba(0, 0, 0, 0.00);
          background: $orange;
        }

        .doy-button {
          width: 43px;
          height: 31px;
          padding: 6px 12px;
          border-radius: 4px;
          border: 1px solid rgba(0, 0, 0, 0.00);
          background: $orange;
        }
      }


      h3 {
        color: #ED7839;
        text-align: right;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0.7px;
      }


      .detail {
        height: 439px;
        flex-shrink: 0;
        border-radius: 3px;
        border: 1px solid #ECECEC;

        h4 {
          width: 100%;
          color: #4E4E4E;
          font-family: Roboto;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 25px; 
          margin-bottom: 15px;
          padding: 10px 15px;
          background: #FDF1EB;
        }

        .box {
          overflow-y: scroll;
          max-height: 376px;

          &::-webkit-scrollbar {
            width: 11px;
          }

          &::-webkit-scrollbar-track { 
            width: 10px;
            border-radius: 10px;
          }
          
          &::-webkit-scrollbar-thumb {
            border: 3px solid rgba(0, 0, 0, 0);
            background-clip: padding-box;
            border-radius: 9999px;
            background-color: #AAAAAA;
          }
        }

        .text-container {
          width: 227px;
          
        }

        .poster {
          color: #5C5C5C;
          font-family: Quicksand;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 120%;
          letter-spacing: 0.24px;
          padding-bottom: 30px;
          padding-left: 15px;
        }

        .authors {
          color: #5C5C5C;
          font-family: Quicksand;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 120%;
          letter-spacing: 0.28px;
          padding-left: 15px;
        }

        .names {
          color: #5C5C5C;
          font-family: Quicksand;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 120%;
          letter-spacing: 0.28px;
          padding-bottom: 60px;
          padding-left: 15px;
          padding-top: 5px;
        }

        .universities {
          color: #ADA0A0;
          font-family: Quicksand;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 12px;
          letter-spacing: 0.24px;
          padding-left: 15px;
        }
      }
    }
  }

  .card {
    width: 100%;
    flex-shrink: 0;
    border-radius: 3px;
    border: 1px solid $light-gray;
    margin-top: 30px;

    .card-header {
      border: 3px solid green;
      height: 45px;
      flex-shrink: 0;
      border-radius: 3px 3px 0px 0px;
      border: 1px solid $light-gray;
      background-color: #FDF1EB;

      h2 {
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 15px;
      }
    }

    .card-body {
      padding: 15px;

      p {
        align-self: stretch;
        color: #5C5C5C;
        font-family: Quicksand;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 162.5%; 
        letter-spacing: 0.28px;

        a {
          color: #ED7839;
          font-family: Quicksand;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 152.344%;
          letter-spacing: 0.28px;
        }
      }
    }
  }
}