<section class="topic">
  <div class="overlay" *ngIf="topic.isNewTopic" [class.active]="topic.isNewTopic">
    <i class="fa-solid fa-check-double"></i>
    <h4>Aguardando feedback dos autores</h4>
    <a href="#">Editar tópico</a>

  </div>
  <div class="content" [class.blur]="topic.isNewTopic">
    <div class="card-info">
      <h4 class="question-title">{{ topic.topic }}</h4>
      <p class="nome">Carlos Henrique Santos</p>
      <p class="text">
        {{ topic.content }}
      </p>
      <div class="box">
        <img src="../assets/mais-informacoes.png" alt="image of 3 dots" />
        <button><i class="fa-solid fa-heart"></i></button> <a>1 like</a>
        <a>1 resposta</a>
      </div>
    </div>
    
    <div class="comments-container" *ngIf="!topic.isNewTopic">
      <h6>Adriano da Silva</h6>
      <h5>Autor</h5>
      <i class="fa-solid fa-check-double"></i>
      <p>
        Resposta do autor é aqui. Relato inscreve-se no campo da análise da dimensão
        e impacto de processo formativo situado impacto de processo formativo
        processo resente relato inscreve-se no campo da análise da dimensão e
        impacto de processo formativo situado impacto de processo formativo
        processo.
      </p>
    </div>    
  </div>
</section>
