// variables

$background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
$white: #FFF;
$orange: #ED7839;
$bege-claro: #FDF1EB;
$marrom-avermelhado: #725C5C;
$danger: #F85959;


body {
  display: flex;
  background-color: $white;
}

//aside

.side-bar {
  width: 220px;
  height: 2508px;
  flex-shrink: 0;
  background: $white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);

  h1 {
    width: 220px;
    height: 68px;
    color: $white;
    background: $background;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .wrapper-rectangle {
    display: flex;
    align-items: center;

    .rectangle {
      width: 5px;
      height: 33px;
      flex-shrink: 0;
      background: linear-gradient(180deg, #FFB455 0%, #ED7839 100%);
  
    }

    .selected {
      background: $bege-claro;
      width: 100%;
    }
  }


  div {
    width: 220px;
    height: 35px;
    flex-shrink: 0;

    p {
      color: $marrom-avermelhado;
      font-family: Quicksand;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      padding-block: 7px;
      padding-left: 29px;
    }
  }
}

// header

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $bege-claro;
  padding: 0 36px;

  .small-title {
    color: $marrom-avermelhado;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .title {
    color: #725C5C;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  button {
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97px;
    height: 34px;
    flex-shrink: 0;
    border-radius: 3px;
    border: 1px solid #CCC;
    background: transparent;
  }

  .profile-container {
    display: flex;
    gap: 8px;
  }

  .welcome-text {
    color: #333;
    text-align: right;
    font-family: Quicksand;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .address {
    color: #333;
    text-align: right;
    font-family: Quicksand;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .image-profile {
    position: relative;

    img {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      object-fit: cover;
    }

    p {
      color: #FFF;
      text-align: center;
      font-family: Roboto;
      font-size: 10px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.2px;
      position: absolute;
      background-color: $danger;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      z-index: 1;
      right: -2px;
      top: -2px;
    }
  }
}

// main

.main {
  padding: 0 36px;

  .main-container {
    display: flex;

    .container {
      position: relative;
  
  
      .main-title {
        width: 786px;
        height: 54px;
        flex-shrink: 0;
        color: $orange;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 900;
        line-height: 25px;
        letter-spacing: 1px;
      }
  
      .beach-image-video {
        width: 783px;
        height: 439px;
        flex-shrink: 0;
        background-image: #754f3a80;
      }
  
        .image-title {
          position: absolute;
          z-index: 1;
          top: 100px;
          left: 32px;
          width: 734px;
          height: 54px;
          flex-shrink: 0;
          color: #FFF;
          font-family: Roboto;
          font-size: 24px;
          font-style: normal;
          font-weight: 900;
          line-height: 25px;
          letter-spacing: 1.2px;
        }
  
        .profile-container {
          display: flex;
          align-items: center;
          position: absolute;
          z-index: 1;
          bottom: 65px;
          left: 50px;
  
          img {
            height: 84px;
            width: 84px;
            border-radius: 50%;
            border: 1px solid $orange;
            margin-right: 25px;
          }
  
          .name {
            width: 452px;
            height: 36px;
            flex-shrink: 0;
            color: #FFF;
            font-family: Roboto;
            font-size: 34px;
            font-style: normal;
            font-weight: 900;
            line-height: 25px; 
            letter-spacing: 1.7px;
          }
  
          p {
            width: 417px;
            height: 27px;
            flex-shrink: 0;
            color: #FFF;
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 900;
            line-height: 25px; 
            letter-spacing: 1px;
          }
        }
    }

    .info {
      width: 100%;

      .buttons-container {
        display: flex;
        justify-content: end;
        gap: 5px;
        button {
          color: $white;
        }

        .download-button {
          color: $white;
          display: flex;
          gap: 5px;
          text-align: center;
          font-family: Roboto;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          height: 31px;
          padding: 6px 12px;
          gap: 5px;
          flex-shrink: 0;
          border-radius: 4px;
          border: 1px solid rgba(0, 0, 0, 0.00);
          background: $orange;
        }
  
        .favorite-button {
          width: 43px;
          height: 31px;
          padding: 6px 12px;
          border-radius: 4px;
          border: 1px solid rgba(0, 0, 0, 0.00);
          background: $orange;
        }

        .doy-button {
          width: 43px;
          height: 31px;
          padding: 6px 12px;
          border-radius: 4px;
          border: 1px solid rgba(0, 0, 0, 0.00);
          background: $orange;
        }
      }
      h3 {
        color: #ED7839;
        text-align: right;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0.7px;
      }

      .detail {
        align-items: center;
        height: 45px;
        border-radius: 3px 3px 0px 0px;
        width: 312px;
        height: 439px;
        flex-shrink: 0;
        border-radius: 3px;
        border: 1px solid #ECECEC;
        margin-left: 31px;

        h4 {
          width: 100%;
          color: #4E4E4E;
          font-family: Roboto;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 25px; 
          margin-bottom: 15px;
          padding: 10px 15px;
          background: #FDF1EB;
        }

        .poster {
          color: #5C5C5C;
          font-family: Quicksand;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 120%;
          letter-spacing: 0.24px;
          padding-bottom: 30px;
          padding-left: 15px;
        }

        .authors {
          color: #5C5C5C;
          font-family: Quicksand;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 120%;
          letter-spacing: 0.28px;
          padding-left: 15px;
        }

        .names {
          color: #5C5C5C;
          font-family: Quicksand;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 120%;
          letter-spacing: 0.28px;
          padding-bottom: 60px;
          padding-left: 15px;
          padding-top: 5px;
        }

        .universities {
          color: #ADA0A0;
          font-family: Quicksand;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 12px;
          letter-spacing: 0.24px;
          padding-left: 15px;
        }
      }
    }
  }


}
