<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->

<div class="side-bar">
  <h1>SLACA 2019</h1>
  <img src="../assets/logo.png" alt="logo laranja">
  <p>Apresentação</p>
  <p>Comitês</p>
  <p>Autores</p>
  <p>Eixos temáticos</p>
  <p>Trabalhos</p>
  <p>Contato</p>
  <p>Edições anteriores</p>
  <p>Edição Atual</p>
</div>

    <h2>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP'</h2>

    <h3>O elemento de expandir resumo precisa ter a classe .btn-show-more</h3>
    <a href="#" class="btn-show-more">ver mais</a>

    <h3>O elemento de criar tópico precisa ter a classe .btn-create-topic</h3>
    <a href="#" class="btn-create-topic">criar tópico</a>

    <h3>O card que contém um tópico respondido precisa ter a classe .answered-topic, o assunto do tópico deve ter a classe .ops-topic-subject</h3>
    <div class="answered-topic">
      <h4 class="ops-topic-subject">Título do tópico</h4>
    </div>
    <div class="comments-container">
      Os comentários de um tópico devem estar encapsulados num elemento com a classe .comments-container
    </div>

    <form>
      Assunto:
      <input class="subject" placeholder="Defina um tópico sucinto para notificar os autores...">
      Conteúdo:
      <!-- <input> -->
      <button>Enviar</button>
    </form>

    <h3>Após submeter o formulário, a seguinte mensagem deve ser exibida: Aguardando feedback dos autores</h3>


