<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<body>
<aside class="side-bar">
  <h1>SLACA 2019</h1>
  <img src="../assets/logo.png" alt="logo laranja">
  <div>
    <p>Apresentação</p>
  </div>
  <div>
    <p>Comitês</p>
  </div>
  <div>
    <p>Autores</p>
  </div>
  <div>
    <p>Eixos temáticos</p>
  </div>
  <div class="wrapper-rectangle">
    <div class="rectangle"></div>
    <p class="selected">Trabalhos</p>
  </div>
  <div>
    <p>Contato</p>
  </div>
  <div>
    <p>Edições anteriores</p>
  </div>
  <div>
    <p>Edição Atual</p>
  </div>
</aside>
<div>
<header class="header">
  <section>
    <p class="small-title">Anais do Simpósio Latino Americano de Ciências de Alimentos</p>
    <h3 class="title">Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</h3>
    <p>ISSN: 1234-5678</p>
  </section>
  <button><img src="../assets/language-image.png" alt="language-image">PT, BR<img src="../assets/dropdown.png" alt="dropdown image"></button>
  <div class="profile-container">
    <div>
      <p class="welcome-text">Bem vindo!</p>
      <p class="address">alguem12@galoascience.com</p>
    </div>
    <div class="image-profile">
      <img src="../assets/image.png" alt="imagem de perfil de uma mulher">
      <p>2</p>
    </div>
  </div>
</header>

<main class="main">
  <div class="main-container">
    <div class="container">
      <h2 class="main-title">Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP'</h2>
      <img class="beach-image-video" src="../assets/dewey1.png" alt="imagem video praia">
        <h2 class="image-title">Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP </h2>
        <div class="profile-container">
          <img src="../assets/image-profile.png" alt="imagem de um homem idoso">
          <div>
            <h2 class="name">Beatriz Christiane Melo</h2>
            <p>FCA / Universidade Estadual de Campinas</p>
          </div>
        </div>
    </div>
    <div class="info">
      <div class="buttons-container">
        <button class="download-button"><i class="fa-solid fa-download"></i>Download</button>
        <button class="favorite-button"><i class="fa-solid fa-star"></i></button>
        <button class="doy-button"><img src="../assets/doi.png" alt="doi-image"></button>
      </div>
    
      <h3>COMO CITAR ESSE TRABALHO?</h3>
  
      <div class="detail">
        <h4>Detalhes</h4>
          <p class="poster">Tipo de Apresentação: <strong>Pôster</strong><br>
          Eixo temático: <strong>Alimentação e saúde <br>(AS)</strong>
          <br>Palavras-chaves: <strong>Alimentos <br>funcionais, alimentação escolar</strong></p>
      
          <strong class="authors">Autores:</strong>
          <p class="names">Galileo Galilei¹<br>
          Berta Lange de Morretes²<br>
          Isaac Newton³<br>
          Cesar Lattes¹<br>
          Stephen Hawking⁴</p>
      
          <p class="universities">¹Universidade Estadual de Campinas<br>
          ²Universidade de São Paulo<br>
          ³Instituto Nacional de Pesquisas Espaciais<br>
          ⁴Universidade Federal do Rio de Janeiro</p>
      </div>
    
      </div>
  </div>
    
    <h2 class="summary">Resumo</h2>
    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor, 
      mollis felis ut, commodo turpis. Phasellus felis mauris, egestas eget cursus et, iaculis
      quis lacus. Fusce auctor eros sed magna ultricies gravida. Etiam aliquam dictum nisl, vel
      aliquet enim accumsan sit amet. Donec finibus nisi tellus, ut viverra lorem vestibulum ut.  
      Phasellus condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl metus. 
      Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum Phasellus 
      condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl metus. Quisque 
      sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum.  Etiam aliquam 
      dictum nisl, vel aliquet enim accumsan sit ametl accumsant... <a href="#" class="btn-show-more">ver mais</a></p>

      <section>
        <h2>Discussões</h2>

        <p>Compartilhe suas ideias ou dúvidas com os autores!</p>

        <div class="icon-container">
          <img src="../assets/icone1.png" alt="icon 1">
          <img src="../assets/icone2.png" alt="icon 2">
          <img src="../assets/icone3.png" alt="icon 3">
        </div>
        
        <p>Sabia que o maior estímulo no desenvolvimento científico e cultural é a curiosidade? Deixe seus questionamentos ou sugestões para o autor!</p>

        <button href="#" class="btn-create-topic"><img src="../assets/icon-criar.png" alt="icon sinal de mais">criar tópico</button>
      </section>

      <form>
        Assunto:
        <input class="subject" placeholder="Defina um tópico sucinto para notificar os autores...">
        Conteúdo:
        <button>Enviar</button>
      </form>

      <h3>Após submeter o formulário, a seguinte mensagem deve ser exibida: Aguardando feedback dos autores</h3>

      <div class="answered-topic">
        <h4 class="ops-topic-subject">Título do tópico</h4>
      </div>

      <div class="card-info">
        <h4>Assunto da pergunta aparece aqui</h4>
        <p class="nome">Carlos Henrique Santos</p>
        <p class="text">Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo...</p>
        <img src="../assets/mais-informacoes.png" alt="image of 3 dots">
        <button><i class="fa-solid fa-heart"></i></button> <a>1 like</a> <a>1 resposta</a>
      </div>

      <div class="card-info">
        <h4>Assunto da pergunta aparece aqui</h4>
        <p class="nome">Carlos Henrique Santos</p>
        <p class="text">Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo...</p>
        <img src="../assets/mais-informacoes.png" alt="image of 3 dots">
        <button><i class="fa-solid fa-heart"></i></button> <a>4 likes</a>  <a>4 respostas</a>
      </div>

      <div class="comments-container">
        Os comentários de um tópico devem estar encapsulados num elemento com a classe .comments-container
      </div>
      <footer><img src="../assets/imagem-footer.png" alt="Galoa"></footer>
    </main>  
  </div>
</body>




