
$background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
$white: #FFF;
$orange: #ED7839;
$bege-claro: #FDF1EB;
$marrom-avermelhado: #725C5C;
$danger: #F85959;
$light-gray: #ECECEC;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}


