@import '../../styles.scss';

.container {
  display: flex;
  width: 100%;

  .side-bar {
    width: 220px;
    flex-shrink: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  
    h1 {
      width: 220px;
      height: 68px;
      color: $white;
      background: $background;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-shrink: 0;
      text-align: center;
      font-family: Roboto;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  
    .wrapper-rectangle {
      display: flex;
      align-items: center;
  
      .rectangle {
        width: 5px;
        height: 33px;
        flex-shrink: 0;
        background: linear-gradient(180deg, #FFB455 0%, #ED7839 100%);
    
      }
  
      .selected {
        background: $bege-claro;
        width: 100%;
      }
    }
  
  
    div {
      width: 220px;
      height: 35px;
      flex-shrink: 0;
  
      p {
        color: $marrom-avermelhado;
        font-family: Quicksand;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding-block: 7px;
        padding-left: 29px;
      }
    }
  }
}

.content {
  footer {
    margin-left: 14px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $bege-claro;
  padding: 0 36px;
  height: 68px;
  width: 100%;

  .small-title {
    color: $marrom-avermelhado;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .title {
    color: #725C5C;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  button {
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97px;
    height: 34px;
    flex-shrink: 0;
    border-radius: 3px;
    border: 1px solid #CCC;
    background: transparent;
  }

  .profile-container {
    display: flex;
    gap: 8px;
  }

  .welcome-text {
    color: #333;
    text-align: right;
    font-family: Quicksand;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .address {
    color: #333;
    text-align: right;
    font-family: Quicksand;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .image-profile {
    position: relative;

    img {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      object-fit: cover;
    }

    p {
      color: #FFF;
      text-align: center;
      font-family: Roboto;
      font-size: 10px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.2px;
      position: absolute;
      background-color: $danger;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      z-index: 1;
      right: -2px;
      top: -2px;
    }
  }
}


